// Variables
$primaryFont: 'Indie Flower';

$bgBodycolor: #333;
$white: #fff;
$black: #000;
$blue: #229aad;
$red: red;
$greyshadow: #666;
$grey: grey;
$orange: orange;
$vanilla: #fffbe2;
$pink: #ffb0be;

/* Global */
html {
    height: 100%;
    font-size: 62.5%; /* Simplifie calcul des tailles de polices en rem */
}

* {
    box-sizing: border-box;
}

body {
    font-family: $primaryFont, cursive;
    text-align: center;
    background-color: $bgBodycolor;
    color: $white;
    font-size: 1.6rem;
    font-size: 16px; /* Pour les anciens navigateurs */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* List Section */
header {
    max-width: 500px;
    width: 90%;
    margin: 1em auto 0 auto;
    padding: 1em 0;
    border: 2px solid $white;
    border-radius: 10px;
}
#enter {
    display: inline-block;
    padding: 0.5em;
    margin-bottom: 1em;
    background-color: $blue;
    color: $white;
    border-radius: 5px;
    font-weight: 700;
}

.item1, .item2, .item3 {
    /*display: none;*/
    font-size: 2rem;
    font-size: 20px;
    margin-top: 1em;
}

li i {
    width: 100%;
}

li i:hover {
    color: $blue;
}
